a:link {
	color: white;
    text-decoration: none;
}
a:visited{
	color: white;
    text-decoration: none;
}
a:hover{
	color: white;
    text-decoration: none;
}
a:active{
	color: white;
    text-decoration: none;
}
#play {
  margin-bottom: 10px;
}

#feed {
  margin-bottom: 10px;
}

#rest {
	margin-bottom: 10px;
}
